@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Calligraffitti&family=Fasthand&family=Great+Vibes&family=Pacifico&family=Poppins&family=Sacramento&family=Yesteryear&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Poppins];
  }
  h1 {
    @apply font-[Sacramento];
  }
  .about {
    @apply font-[Calligraffitti];
  }
  .transform-text {
    @apply font-[Calligraffitti];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(88, 124, 201, 0.8),
    hsla(240, 40%, 12%, 0.8)
  ) !important;
}
